*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ECF0F3;
  font-family: 'Oswald', sans-serif;
}

 /* variables */
:root {
--textcolorpri:#505356;
}

 /* barra de navegacion */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
}

.logo {
  font-size: 40px;
  padding-left: 100px;
}

.nav-opciones{
  display: flex;
  align-items: center;
}

.nav-items a{
  text-decoration: none;
  color:var(--textcolorpri);
  font-size: 20px;
}

.nav-items li {
 display:inline; 
 align-content: center;
 margin-right:30px; 
 font-size:14px; 
}

.buy-now{
  font-size: 20px;
 color: #FA3E78;
 border: none;
 padding:10px 20px; 
 border-radius: 10px;
 box-shadow: 10px 10px 25px 10px #d2d7dd
}


 /* main */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
display: block;
}

.image-content {
padding-left: 100px;
}

.text-main{
  
}